/* animation */
@keyframes slideUp{
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 100;
    }   
}

@keyframes bounce {
    0% { transform: translateY(0px)  }
    50% { transform: translateY(15px) }
    100% { transform: translateY(0px) }
}

/* universal */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }

/* NavBar */
nav{
    position: fixed;
    width: 100%;
    z-index: 5;
}

nav .container{
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0 100px;
}

nav .container .logoContainer{
    font-size: 50px;
    height: 100%;
    display: flex;
    align-items: center;
}

nav .container .logoContainer span:first-child{
    font-size: 50px;
    margin-right: 10px;
}

nav .container .logoContainer span:nth-child(2){
    font-size: 50px;
    margin-right: 10px;
    font-family: 'Damion', cursive;
}

nav .container .navContainer {
    font-size: 27px;
    height: 100%;
    display: flex;
}

nav .container .navContainer .shortNavbar .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }

nav .container .navContainer .shortNavbar input[type="checkbox"]{
    display: none;
}

nav .container .navContainer .longNavbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .container .navContainer .longNavbar ul li{
    display: inline-block;
    height: 100px;
    padding: 30px 20px;
}

nav .container .navContainer .longNavbar li a{
    text-decoration: none;
}

nav .container .navContainer .longNavbar li:hover{
    background-color: rgba(0, 0, 0, 0.50);
}

/* Home */
.home{
    background-image:linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(https://images.unsplash.com/34/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home .contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
    animation: slideUp 1s;
    min-height: 100vh;
}

.home .contentContainer h1{
    font-size: 100px;
    font-family: 'Damion', cursive;
}

.home .contentContainer h2{
    font-size: 30px;
    font-weight: normal;
}

.home .arrowContainer{
    font-size: 100px;
    bottom: 80px;
    animation: bounce 2s ease-in-out 1s infinite, slideUp 1s;
    position: absolute;
    margin-top: 720px;
}

.home .arrowContainer a span{
    width: 100vw;
    text-align: center;
}

/* About Us */
.aboutUs{
    background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(https://images.unsplash.com/photo-1541800569-95a8b25835f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    transform: rotate(180deg);
    z-index: 1;
}

.aboutUs .content{
    transform: rotate(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    min-height: 100vh;
    padding: 100px ;
}

.aboutUs .content h1{
    font-size: 50px;
}

.aboutUs .content span{
    font-size: 350px;
    display: block;
}

.aboutUs .content p{
    font-size: 40px;
}

/* Our Work */
.ourWork{
    min-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(img/img1.png);
    background-size: cover;
}

.ourWork .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ourWork .content h1{
    font-size: 50px;
    margin-bottom: 50px;
}

.ourWork .content .container{
    width: 90%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.img1{
    width: 32%;
    height: 650px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(https://images.unsplash.com/photo-1541410965313-d53b3c16ef17?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
}

.imgGroup{
    width: 32%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img2{
    height: 48%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1454372182658-c712e4c5a1db?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

.img3{
    height: 48%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1494783367193-149034c05e8f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

.img4{
    width: 32%;
    height: 650px;
    background-image: url(https://images.unsplash.com/photo-1617634667039-8e4cb277ab46?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=368&q=80);
    background-size: cover;
}


/* Contact Us */

.contactUs{
    min-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(https://images.unsplash.com/photo-1485249245068-d8dc50b77cc7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1331&q=80);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 50px 0;
}

.contactUs input{
    color: #4D4D4D;
    font-weight: 700;
    font-size: 18px;
}

.contactUs textarea{
    color: #4D4D4D;
    font-weight: 700;
    font-size: 18px;
}

.contactUs h1{
    font-size: 50px;
    margin-bottom: 50px;
}

.contactUs .form{
    background-color: #C4C4C4;
    border-radius: 10px;
    padding: 80px;
    border: 3px solid #393939;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: fit-content;
    margin-bottom: 50px;
}   

.contactUs .form .inputName{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contactUs .form .inputName input:nth-child(2){
    margin: 0;
}

.contactUs .form .inputPhoneGender{
    display: flex;
    width: 100%;
}

.contactUs .form .submitForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactUs .form .inputPhoneGender .inputGender{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
    align-items: center;
    color: black;
}

.contactUs .form .inputPhoneGender .inputGender div{
    color: black;
    display: flex;
    align-items: center;
}

.contactUs .form .inputPhoneGender .inputGender label{
    color: black;
    font-weight: bolder;
    font-size: 18px;
}

.contactUs .form button{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    color: black;
    border: 1px solid #393939;
}

.contactUs .form button:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

#firstName{
    width: 50%;
    height: 50px;
    margin-right: 10px;
    padding: 10px;
}

#lastName{
    width: 50%;
    height: 50px;   
    padding: 10px;
}

#email{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
}

#phoneNumber{
    width: 50%;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
}

#message{
    max-width: 100%;
    min-width: 100%;
    margin: 10px 0;
    padding: 10px;
}

#male{
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

#female{
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

/* footer */
footer{
    background-color: black;
    color: #FFFFFF;
    font-size: 25px;
}

footer .container{
    display: flex;
    justify-content: space-between ;
    width: 100%;
    padding: 50px 150px 0 150px;
    margin-bottom: 20px;
}

footer .container .left{
    display: flex;
    flex-direction: column;
    width: 33%;
}

footer .container .left .logoContainer{
    font-size: 58px;
    margin-top: 20px;
}

footer .container .left .logoContainer span:nth-child(2){
    font-size: 58px;
    margin-top: 20px;
    font-family: 'Damion', cursive;
}

footer .container .right .logoContainer{
    font-size: 45px;
    margin-top: 20px;
}

footer .container .right .logoContainer i{
    font-size: 45px;
    margin-right: 20px;
}

footer .copyright{
    text-align: center;
}

/* media query */
@media only screen and (max-width: 1100px) {

    nav .container{
    padding: 30px 100px;
    }
    
    nav .container .navContainer .longNavbar{
        position: fixed;
        width: 100vw;
        right: 0px;
        top: -500px;
        transition: all 0.5s;
    }

    nav .container .navContainer .longNavbar ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.25);
    }

    nav .container .navContainer .longNavbar ul a{
        width: 100%;
        text-align: center;
    }

    nav .container .navContainer .longNavbar li{
        width: 100%;
        height: 100%;
    }

    nav .container .logoContainer span:nth-child(2){
        display: none;
    }

    nav .container .navContainer .shortNavbar .menu-btn i{
        color: #fff;
        font-size: 50px;
        cursor: pointer;
        display: block;
    }

    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }

    .aboutUs .content span{
        font-size: 250px;
    }

    .aboutUs .content p{
        font-size: 35px;
    }

    .ourWork .content{
        height: fit-content;
        margin: 50px 0;
    }

    .ourWork .content .container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 0 20px;
        width: 60vw;
        margin-bottom: 20px;
    }

    .img1{
        width: 100%;
    }

    .imgGroup{
        padding: 20px 0;
        width: 100%;
    }

    .img2{
        width: 100%;
    }

    .img3{
        width: 100%;
    }

    .img4{
        width: 100%;
    }

    footer .container{
        flex-direction: column;
        width: 100%;
    }

    footer .container .left{
        width: 100%;
    }

    footer .container .right{
        width: 100%;
    }

}

@media only screen and (max-height: 700px) {
    .home .arrowContainer{
        display: none;
    }

}